{% extends 'base.html' %}

{% block content %}
<h1>Mis alquileres</h1>

<a href="{% url 'nuevo_alquiler' %}" class="btn btn-primary mb-3 mt-3">Alquilar</a>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Alojamiento</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Comentario</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for alquiler in alquileres %}
            <tr>
                <td>{{ alquiler.alojamiento.descripcion }}</td>
                <td>{{ alquiler.desde }} </td>
                <td>{{ alquiler.hasta }} </td>
                <td>{{ alquiler.comentario|default:"Sin comentario" }}</td>
                <td>
                    <a href="{% url 'comentar_alquiler' alquiler.id %}" class="btn btn-secondary btn-sm">Comentar</a>
                </td>
            </tr>
        {% endfor %}
</table>
{% endblock %}