{% extends 'base.html' %}

{% block content %}
<h2>Alquileres</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Comentario</th>
        </tr>
    </thead>
    <tbody>
        {% for alquiler in alquileres %}
            <tr>
                <td>{{ alquiler.cliente.first_name }}</td>
                <td>{{ alquiler.cliente.last_name }}</td>
                <td>{{ alquiler.desde }} </td>
                <td>{{ alquiler.hasta }} </td>
                <td>{{ alquiler.comentario|default:"Sin comentario" }}</td>
            </tr>
        {% endfor %}
</table>
{% endblock %}